<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>树状选择结构、自定义美化滚动条</title>
		<link rel="stylesheet" href="css/tree.css" />
		<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="js/treescroll.min.js"></script>
	</head>
	<body>
		<div class="centent">
		<div class="treebox scrollXY">
			<div class="tree">
				<ul>
					<li>
						<div class="close_menu"  id="menu1" onclick="addMenu(this)"><span></span><a title="一级菜单">一级菜单</a></div>
						<ul>
						</ul>
						
					</li>
					
					<!--一级菜单栏-->
					<li>
						<div class="close_menu"  id="menu1"><span></span><a title="一级菜单">一级菜单</a></div>
						<ul>
							<li>
								<div class="close_menu" id="menu2"><span></span><a title="二级菜单">二级菜单</a></div>
								<ul>
									<li><a title="最后一层">最后一层</a></li>
									<li><a title="最后一层" class="ontree">最后一层</a></li>
									<li><a title="最后一层">最后一层</a></li>
								</ul>
							</li>
							<li>
								<div class="close_menu"><span></span><a title="二级菜单">二级菜单</a></div>
								<ul>
									<li><a title="最后一层">最后一层的结构有变化最后一层的结构有变化</a></li>
									<li><a title="最后一层">最后一层的结构有变化最后一层的结构有变化</a></li>
									<li><a title="最后一层">最后一层的结构有变化最后一层的结构有变化</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<!--一级菜单栏end-->
					
					
					
					<!--一级菜单栏-->
					<li>
						<div class="close_menu"><span></span><a title="一级菜单">一级菜单</a></div>
						<ul>
							<li>
								<div class="close_menu"><span></span><a title="二级菜单">二级菜单</a></div>
								<ul>
									<li>
										<div class="close_menu"><span></span><a title="三级菜单">三级菜单</a></div>
										<ul>
											<li><a title="最后一层">最后一层的结构有变化最后一层的结构有变化</a></li>
											<li><a title="最后一层">最后一层的结构有变化最后一层的结构有变化</a></li>
											<li><a title="最后一层">最后一层的结构有变化最后一层的结构有变化</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<div class="close_menu"><span></span><a title="二级菜单">二级菜单</a></div>
								<ul>
									<li>
										<div class="close_menu"><span></span><a title="三级菜单">三级菜单</a></div>
										<ul>
											<li><a title="最后一层">最后一层的结构有变化最后一层的结构有变化</a></li>
											<li><a title="最后一层">最后一层的结构有变化最后一层的结构有变化</a></li>
											<li><a title="最后一层">最后一层的结构有变化最后一层的结构有变化</a></li>
										</ul>
									</li>
									<li>
										<div class="close_menu"><span></span><a title="三级菜单">三级菜单</a></div>
										<ul>
											<li><a title="最后一层">最后一层的结构有变化最后一层的结构有变化</a></li>
											<li><a title="最后一层">最后一层的结构有变化最后一层的结构有变化</a></li>
											<li><a title="最后一层">最后一层的结构有变化最后一层的结构有变化</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<!--一级菜单栏end-->
				</ul>
			</div>
		</div>
		</div>
		<p style="text-align: center;">树状选择结构、自定义美化滚动条</p>
	</body>
	
	<script>
        function addMenu(obj){
        	 if ($(obj).next().children().length==0) {
        	 	var html='<div class="close_menu" onclick="addFile(this)"><span></span><a title="二级菜单">二级菜单</a></div><ul></ul>'
			    $(obj).next().append(html);
        	 }
		}
		
		function addFile(obj){
         if ($(obj).next().children().length==0) {
			var html ="<li><a title='最后一层'>最后一层1111</a></li>" ;
			$(obj).next().append(html);
		}
			
		}
	</script>
</html>
