<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="SSINC-html" path="*.html" verb="*" modules="ServerSideIncludeModule" resourceType="File" />
        </handlers>
        <staticContent>
            <mimeMap fileExtension=".properties" mimeType="application/x-javascript" />
        </staticContent>
    </system.webServer>
</configuration>
