<div class='container-fluid text-center manage'>
		
				<div class="box-content ">
					<form class="form-horizontal" role="form">							
							<div class="row-fluid " >
								<div class="span6 box ">
									<div class="control-group ">
	                                    <label class="control-label" >员工姓名:</label>
	                                    <div class="controls">
	                                        <input name="username" id="username" placeholder="员工姓名" type="text" >
	                                    </div>
                                	</div>
								</div>
								<div class="span6 box ">
									<div class="control-group ">
	                                    <label class="control-label" style="width: auto;" >手机号码:</label>
	                                    <div class="controls text-left" style="margin-left: 90px;">
	                                        <input  name="manage-phone"   placeholder="" type="text" >
	                                    </div>
                                	</div>
								</div>
							</div>
							<div class="manage-numbers">
									<div class="row-fluid ">								
										<div class="span12 box margin-bottom-0">
											<div class="control-group ">
			                                    <label class="control-label" for="validation_name">编号1  :</label>
			                                    <div class="controls">
			                                        <input placeholder=""  class="cursor-default" value="1123335555555222556" type="text" readonly="readonly">
			                                    	<div class="muted icon-remove cursor align-left margin-left--35 "></div>
			                                    </div>
			                            	</div>
										</div>																
									</div>
									<div class="row-fluid ">								
										<div class="span12 box margin-bottom-0">
											<div class="control-group ">
			                                    <label class="control-label" for="validation_name">编号2  :</label>
			                                    <div class="controls">
			                                        <input   placeholder=""  class="cursor-default"  value="1123335555555222556" type="text" readonly="readonly">
			                                   		<div class="muted icon-remove cursor align-left margin-left--35 "></div>
			                                    </div>
			                            	</div>
										</div>																
									</div>
									<div class="row-fluid ">								
										<div class="span12 box margin-bottom-0">
											<div class="control-group ">
			                                    <label class="control-label" for="validation_name">编号3  :</label>
			                                    <div class="controls">
			                                        <input   placeholder="" class="cursor" value="1123335555555222556" type="text" readonly="readonly">
			                                        <div class="muted icon-remove cursor align-left margin-left--35 "></div>
			                                    </div>
			                            	</div>
										</div>																
									</div>
							</div>
							<div class="clearfix" ></div>
							<!--新增-->
							<div class="row-fluid ">								
								<div class="span12 box margin-bottom-0">
									<div class="control-group ">
	                                    <label class="control-label" for="validation_name"></label>
	                                    <div class="controls">
	                                        <input  value="新增+++" placeholder="" class="text-center btn  btn-default" type="button" readonly="readonly">
	                                    </div>
                                	</div>
								</div>																
							</div>
							<div class="clearfix" ></div>
							<!--删除-->
							<div class="manage-numbers-delete">
									<div class="line"></div>
									<div class="row-fluid ">								
										<div class="span12 box margin-bottom-0">
											<div class="control-group ">
			                                    <label class="control-label" for="validation_name">禁用编码  :</label>
			                                    <div class="controls">
			                                        <input placeholder=""  class="cursor-default" value="1123335555555222556" type="text" readonly="readonly">
			                                    	<div class="text-error icon-plus cursor align-left margin-left--35"></div>
			                                    </div>
			                            	</div>
										</div>																
									</div>
							</div>
							
							
							
							<div class="row-fluid ">
								 <input type="button"  class="submit btn btn-primary" onclick="changePassWord();"  value="确认修改" readonly="readonly" />
								  <input type="button"  class="submit btn margin-left-40" onclick="blackIndex();"  value="返回" readonly="readonly" />
							</div>
							
							
							
							
					</form>
                </div>
</div>