<!DOCTYPE html>
<html>

	<head lang="en">
		<!--#include file = "/view/layout/head-script.html" -->
		<link rel="stylesheet" type="text/css" href="/css/view/layout/sign.css"/>
	</head>	
	<body class='contrast-red ' id="main">
		<!--#include file = "/view/layout/head.html" -->
		<!--#include file = "/view/layout/left-nav.html" -->
		<section id='content' class="change-password">
			<!--#include file = "/view/layout/header.html" -->
			<div class='container-fluid text-center'>
				<div class="box-content">
						<div class='row-fluid'>
								<div class='span12'>
									<div class='header'>									
										<div class='pull-left'>
											<ul class='breadcrumb '>
												<li class='active'>用户密码修改</li>
												<!--<li class='active'>></li>
												<li class='active'>人员列表</li>-->
											</ul>
										</div>
									</div>
								</div>
						</div>
					<div class="clearfix"></div>
					
                            <form class="form form-horizontal " role="form" style="margin-bottom: 0;">
                            	<div class="row-fluid oderSearch searchBox text-left" style="white-space: nowrap;min-height: 616px;" >
									<div class="table-title" style="height: 40px;line-height: 30px;">密码修改</div>
									<div id="searchBoxCointer" class="clearfix">
										<div class="searchItem  margin-top-10">
											<div >用户名:</div>
											 <input  id="validation_name" name="validation_name" class="span12" placeholder="用户名" type="text" readonly="readonly">
										</div>
										<div class="clearfix"></div>
										
										<div class="searchItem margin-top-10">
											<div>老密码:</div>
											<input   id="validation_oldPassword" class="span12" name="oldPassword" placeholder="原密码" type="password">
										</div>
										<div class="clearfix"></div>
										
										<div class="searchItem margin-top-10">
											<div >新密码:</div>
											 <input   class="span12"  id="validation_password" name="password" placeholder="新密码" type="password">
										</div>
										<div class="clearfix"></div>
										<div class='margin-top-30 margin-bottom-10  searchItem'>
											<!--<button  class="button-white  margin-right-15" onclick="black();">返回</button>-->
										    <button type="button"  name="button" class="button-blue" onclick="changePassWord()">修改</button>								    								    
									   	</div>	
										
                            		</div>
                            	</div>
                            </form>
                        </div>
			</div>
		</section>
		</div>
		<!--#include file = "/view/layout/foot.html" -->
		<!--#include file = "/view/layout/foot-script.html" -->
</body>
</html>	
<script src="/js/view/sign/changePassword.js" type="text/babel"></script>