<header>	
    <div class='navbar hide'>
        <div class='navbar-inner '>
            <div class='container-fluid'>
                <a class='brand' href='/index.html'>
                    <i class='icon-heart-empty'></i>
                    <span class='hidden-phone'>营销管理平台</span>
                </a>
                <a class='toggle-nav btn pull-left' href='#'>
                    <i class='icon-reorder'></i>
                </a>
                <ul class='nav pull-right'>
                    
                    
                    <li class='dropdown dark user-menu'>
                        <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                            <img alt='Mila Kunis' height='23' src='/view/model/assets/images/avatar.jpg' width='23' />
                            <span class='user-name hidden-phone'>Mila Kunis</span>
                            <b class='caret'></b>
                        </a>
                        <ul class='dropdown-menu'>
                            <li>
                                <a href='/view/sign/userUpdate.html'>
                                    <i class='icon-user'></i>
                                    	用户修改
                                </a>
                            </li>                            
                            <li>
                                <a href='/view/sign/changePassword.html'>
                                    <i class='icon-pencil'></i>
  										修改密码
                                </a>
                            </li>
                            <li class='divider'></li>
                            <li>
                                <a href='javaScript:void(0);' onclick="loginOut()">
                                    <i class='icon-signout'></i>
                                    	 退出登录
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
               
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/view/layout/head.js"></script>
</header>
<!-- / jquery -->

