<header class="header" style="height: 70px;line-height: 70px;background-color: #fff;padding: 0 10px;border-bottom-right-radius: 43px;z-index: 100;">
	<div style="position: relative;" class="">
	<img src="/img/view/Hamburger.png"  class='toggle-nav' width="32"/>	
	
		<ul class='nav pull-right' style="border-left: 1px solid #E6EAEE;padding: 0 10px;margin-right: 22px;margin-bottom: 0;" >
            <li class='dropdown dark user-menu'>
                <a class='dropdown-toggle' data-toggle='dropdown' href='javaScript:void(0);' style="display: inline-block;text-decoration: none;background-color: #fff;border-bottom-right-radius: 36px;outline: none;color: #7F8FA4;">
                	 <b class='caret' style="margin-top: 33px;"></b>
                   
                    <span class='user-name hidden-phone' style="line-height: 70px;">章小蕙</span>
                   
                </a>
                <img src="/img/view/Bitmap.png" class="margin-left-15" alt=""  width="40" style="vertical-align: -14px;"/>
                <ul class='dropdown-menu'>
                    <li>
                        <a href='/view/sign/userUpdate.html'>
                            <i class='icon-user'></i>
                            	用户修改
                        </a>
                    </li>                            
                    <li>
                        <a href='/view/sign/changePassword.html'>
                            <i class='icon-pencil'></i>
								修改密码
                        </a>
                    </li>
                    <li class='divider'></li>
                    <li>
                        <a href='javaScript:void(0);' onclick="loginOut()">
                            <i class='icon-signout'></i>
                            	 退出登录
                        </a>
                    </li>
                </ul>
                <!--<img alt='Mila Kunis' height='23' src='/view/model/assets/images/avatar.jpg' width='23' />-->
            </li>
            
            	 
            
        </ul>
    <div class="clearfix"></div>    
    </div>
</header>
<script type="text/javascript" src="/js/view/layout/head.js"></script>