<!DOCTYPE html>
<html>
<head lang="en">
    <!--#include file = "/view/layout/head-script.html" -->
     <link rel="stylesheet" href="../../css/view/charts/charts.csss" />
</head>
<body class='contrast-red '>
<!--#include file = "/view/layout/head.html" -->
<!--#include file = "/view/layout/left-nav.html" -->
<section id='content'>
	
	
	
    <div class='container-fluid'>
        <div class='row-fluid' id='content-wrapper'>
            <div class='span12'>
                <div class='row-fluid'>
                    <div class='span12'>
                        <div class='page-header'>
                            <h1 class='pull-left'>
                                <i class='icon-bar-chart'></i>
                                <span>Charts</span>
                            </h1>
                            <div class='pull-right'>
                                <ul class='breadcrumb'>
                                    <li>
                                        <a href="index.html"><i class='icon-bar-chart'></i>
                                        </a>
                                    </li>
                                    <li class='separator'>
                                        <i class='icon-angle-right'></i>
                                    </li>
                                    <li>Components</li>
                                    <li class='separator'>
                                        <i class='icon-angle-right'></i>
                                    </li>
                                    <li class='active'>Charts</li>
                                </ul>
                            </div>
                        </div>
                        
                      <div id="echarts-line"  style="height:800px;">
           <div id="container" style="height:80%;"></div>
       </div>
                    </div>
                </div>

                
               

                </div>

            </div>
        </div>
    </div>
</section>
</div>
<div class="page text-center">
			<ul class="pagination singlePagination">
				
			 <!-- <!--<li><a data-value="1" href="#">首页</a></li>-->
			  <!--<li class="active"><a data-value="1" href="#">1</a></li>-->
			  <!--<li><a data-value="2" href="#">2</a></li>-->
			  <!--<li><a data-value="3" href="#">3</a></li>-->
			  <!--<li><a data-value="4" href="#">4</a></li>-->
			  <!--<li><a data-value="5" href="#">5</a></li>-->
			  <!--<li><a data-value="30" href="#">...30</a></li>-->
			  <!--<li><a data-value="30" href="#">末页</a></li>-->
			</ul>
		</div>


<!--#include file = "/view/layout/foot.html" -->
<!--#include file = "/view/layout/foot-script.html" -->
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script src='/js/view/charts/charts.js' type='text/babel'></script>

</body>
</html>
<script>
	 
</script>