<!DOCTYPE html>
<html>
<head lang="en">
    <!--#include file = "/view/layout/head-script.html" -->
</head>
<body class="">
<!--#include file = "/view/layout/head.html" -->
    <div class="body">
        选择语言<select id="language">
                <option value="zh-CN">中文</option>
                <option value="en">English</option>
            </select>
            <div>
                <input class="typeahead" type="text" id="menu_search" data-i18n-placeholder = "searchPlaceholder"/>
                <input type="text" data-i18n-value="query">
            </div>
        <div>
            <span data-i18n-text="description"></span>
        </div>
    </div>
<!--#include file = "/view/layout/foot.html" -->
</body>
</html>